@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 197 88% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 197 88% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 197 88% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 196 76% 52%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 80%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 85%;
    --muted-foreground: 225 8.9% 40%;
    --accent: 33 100% 50%;
    --accent-foreground: 30 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 196 76% 82%;
    --input: 196 76% 88%;
    --ring: 196 76% 52%;
    --chart-1: 196 76% 52%;
    --chart-2: 33 100% 50%;
    --chart-3: 215 27.9% 80%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 196 76% 52%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 197 88% 95%;
    --sidebar-accent-foreground: 196 76% 42%;
    --sidebar-border: 196 76% 92%;
    --sidebar-ring: 196 76% 52%;
  }
  .dark {
    --background: 222 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 76% 52%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 33 100% 50%;
    --accent-foreground: 30 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 196 76% 52%;
    --chart-1: 196 76% 52%;
    --chart-2: 33 100% 50%;
    --chart-3: 217.2 32.6% 17.5%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 196 76% 52%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 27.5%;
    --sidebar-ring: 196 76% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
