
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root, .theme-green {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 149 83% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 149 83% 36%;
    --radius: 0.5rem;
    --chart-1: 149 83% 36%;
    --chart-2: 173 80% 40%;
    --chart-3: 0 72% 51%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 149 83% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 149 83% 36%;
  }

  .dark:root, .dark.theme-green {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 149 83% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 149 83% 36%;
  }

  .theme-blue {
    --background: 210 40% 96.1%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 210 40% 96.1%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 96.1%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217.2 91.2% 59.8%;
  }

  .dark.theme-blue {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
  }

  .theme-orange {
    --background: 24.6 95% 97.3%;
    --foreground: 20.5 90.2% 12.6%;
    --card: 24.6 95% 97.3%;
    --card-foreground: 20.5 90.2% 12.6%;
    --popover: 24.6 95% 97.3%;
    --popover-foreground: 20.5 90.2% 12.6%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 24.6 95% 97.3%;
    --secondary: 24.6 95% 93.3%;
    --secondary-foreground: 20.5 90.2% 12.6%;
    --muted: 24.6 95% 93.3%;
    --muted-foreground: 24.6 95% 43.3%;
    --accent: 24.6 95% 93.3%;
    --accent-foreground: 20.5 90.2% 12.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 24.6 95% 97.3%;
    --border: 24.6 95% 89.3%;
    --input: 24.6 95% 89.3%;
    --ring: 20.5 90.2% 48.2%;
  }

  .dark.theme-orange {
    --background: 20.5 90.2% 12.6%;
    --foreground: 24.6 95% 97.3%;
    --card: 20.5 90.2% 12.6%;
    --card-foreground: 24.6 95% 97.3%;
    --popover: 20.5 90.2% 12.6%;
    --popover-foreground: 24.6 95% 97.3%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 24.6 95% 97.3%;
    --secondary: 20.5 90.2% 16.6%;
    --secondary-foreground: 24.6 95% 97.3%;
    --muted: 20.5 90.2% 16.6%;
    --muted-foreground: 24.6 95% 63.3%;
    --accent: 20.5 90.2% 16.6%;
    --accent-foreground: 24.6 95% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 24.6 95% 97.3%;
    --border: 20.5 90.2% 16.6%;
    --input: 20.5 90.2% 16.6%;
    --ring: 20.5 90.2% 48.2%;
  }

  .theme-rose {
    --background: 346.8 96% 96.9%;
    --foreground: 346.8 83.3% 11.8%;
    --card: 346.8 96% 96.9%;
    --card-foreground: 346.8 83.3% 11.8%;
    --popover: 346.8 96% 96.9%;
    --popover-foreground: 346.8 83.3% 11.8%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 346.8 96% 96.9%;
    --secondary: 346.8 96% 92.9%;
    --secondary-foreground: 346.8 83.3% 11.8%;
    --muted: 346.8 96% 92.9%;
    --muted-foreground: 346.8 96% 42.9%;
    --accent: 346.8 96% 92.9%;
    --accent-foreground: 346.8 83.3% 11.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 346.8 96% 96.9%;
    --border: 346.8 96% 88.9%;
    --input: 346.8 96% 88.9%;
    --ring: 346.8 77.2% 49.8%;
  }

  .dark.theme-rose {
    --background: 346.8 83.3% 11.8%;
    --foreground: 346.8 96% 96.9%;
    --card: 346.8 83.3% 11.8%;
    --card-foreground: 346.8 96% 96.9%;
    --popover: 346.8 83.3% 11.8%;
    --popover-foreground: 346.8 96% 96.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 346.8 96% 96.9%;
    --secondary: 346.8 83.3% 15.8%;
    --secondary-foreground: 346.8 96% 96.9%;
    --muted: 346.8 83.3% 15.8%;
    --muted-foreground: 346.8 96% 62.9%;
    --accent: 346.8 83.3% 15.8%;
    --accent-foreground: 346.8 96% 96.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 346.8 96% 96.9%;
    --border: 346.8 83.3% 15.8%;
    --input: 346.8 83.3% 15.8%;
    --ring: 346.8 77.2% 49.8%;
  }

  .theme-violet {
    --background: 262.1 83.3% 97.8%;
    --foreground: 263.4 92.5% 14.5%;
    --card: 262.1 83.3% 97.8%;
    --card-foreground: 263.4 92.5% 14.5%;
    --popover: 262.1 83.3% 97.8%;
    --popover-foreground: 263.4 92.5% 14.5%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 262.1 83.3% 97.8%;
    --secondary: 262.1 83.3% 93.8%;
    --secondary-foreground: 263.4 92.5% 14.5%;
    --muted: 262.1 83.3% 93.8%;
    --muted-foreground: 262.1 83.3% 43.8%;
    --accent: 262.1 83.3% 93.8%;
    --accent-foreground: 263.4 92.5% 14.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 262.1 83.3% 97.8%;
    --border: 262.1 83.3% 89.8%;
    --input: 262.1 83.3% 89.8%;
    --ring: 262.1 83.3% 57.8%;
  }

  .dark.theme-violet {
    --background: 263.4 92.5% 14.5%;
    --foreground: 262.1 83.3% 97.8%;
    --card: 263.4 92.5% 14.5%;
    --card-foreground: 262.1 83.3% 97.8%;
    --popover: 263.4 92.5% 14.5%;
    --popover-foreground: 262.1 83.3% 97.8%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 262.1 83.3% 97.8%;
    --secondary: 263.4 92.5% 18.5%;
    --secondary-foreground: 262.1 83.3% 97.8%;
    --muted: 263.4 92.5% 18.5%;
    --muted-foreground: 262.1 83.3% 63.8%;
    --accent: 263.4 92.5% 18.5%;
    --accent-foreground: 262.1 83.3% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 262.1 83.3% 97.8%;
    --border: 263.4 92.5% 18.5%;
    --input: 263.4 92.5% 18.5%;
    --ring: 262.1 83.3% 57.8%;
  }

  .theme-yellow {
    --background: 47.9 95.8% 95.5%;
    --foreground: 47.9 95.8% 10.5%;
    --card: 47.9 95.8% 95.5%;
    --card-foreground: 47.9 95.8% 10.5%;
    --popover: 47.9 95.8% 95.5%;
    --popover-foreground: 47.9 95.8% 10.5%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 47.9 95.8% 10.5%;
    --secondary: 47.9 95.8% 91.5%;
    --secondary-foreground: 47.9 95.8% 10.5%;
    --muted: 47.9 95.8% 91.5%;
    --muted-foreground: 47.9 95.8% 41.5%;
    --accent: 47.9 95.8% 91.5%;
    --accent-foreground: 47.9 95.8% 10.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 47.9 95.8% 95.5%;
    --border: 47.9 95.8% 87.5%;
    --input: 47.9 95.8% 87.5%;
    --ring: 47.9 95.8% 53.1%;
  }

  .dark.theme-yellow {
    --background: 47.9 95.8% 10.5%;
    --foreground: 47.9 95.8% 95.5%;
    --card: 47.9 95.8% 10.5%;
    --card-foreground: 47.9 95.8% 95.5%;
    --popover: 47.9 95.8% 10.5%;
    --popover-foreground: 47.9 95.8% 95.5%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 47.9 95.8% 10.5%;
    --secondary: 47.9 95.8% 14.5%;
    --secondary-foreground: 47.9 95.8% 95.5%;
    --muted: 47.9 95.8% 14.5%;
    --muted-foreground: 47.9 95.8% 61.5%;
    --accent: 47.9 95.8% 14.5%;
    --accent-foreground: 47.9 95.8% 95.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 47.9 95.8% 95.5%;
    --border: 47.9 95.8% 14.5%;
    --input: 47.9 95.8% 14.5%;
    --ring: 47.9 95.8% 53.1%;
  }

  .theme-lime {
    --background: 110 80% 96.9%;
    --foreground: 110 80% 11.9%;
    --card: 110 80% 96.9%;
    --card-foreground: 110 80% 11.9%;
    --popover: 110 80% 96.9%;
    --popover-foreground: 110 80% 11.9%;
    --primary: 110 80% 49.8%;
    --primary-foreground: 110 80% 96.9%;
    --secondary: 110 80% 92.9%;
    --secondary-foreground: 110 80% 11.9%;
    --muted: 110 80% 92.9%;
    --muted-foreground: 110 80% 42.9%;
    --accent: 110 80% 92.9%;
    --accent-foreground: 110 80% 11.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 110 80% 96.9%;
    --border: 110 80% 88.9%;
    --input: 110 80% 88.9%;
    --ring: 110 80% 49.8%;
  }

  .dark.theme-lime {
    --background: 110 80% 11.9%;
    --foreground: 110 80% 96.9%;
    --card: 110 80% 11.9%;
    --card-foreground: 110 80% 96.9%;
    --popover: 110 80% 11.9%;
    --popover-foreground: 110 80% 96.9%;
    --primary: 110 80% 49.8%;
    --primary-foreground: 110 80% 96.9%;
    --secondary: 110 80% 15.9%;
    --secondary-foreground: 110 80% 96.9%;
    --muted: 110 80% 15.9%;
    --muted-foreground: 110 80% 62.9%;
    --accent: 110 80% 15.9%;
    --accent-foreground: 110 80% 96.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 110 80% 96.9%;
    --border: 110 80% 15.9%;
    --input: 110 80% 15.9%;
    --ring: 110 80% 49.8%;
  }

  .theme-cyan {
    --background: 172.1 78.3% 97.1%;
    --foreground: 173.3 92.2% 13.1%;
    --card: 172.1 78.3% 97.1%;
    --card-foreground: 173.3 92.2% 13.1%;
    --popover: 172.1 78.3% 97.1%;
    --popover-foreground: 173.3 92.2% 13.1%;
    --primary: 173 80.4% 43.1%;
    --primary-foreground: 172.1 78.3% 97.1%;
    --secondary: 172.1 78.3% 93.1%;
    --secondary-foreground: 173.3 92.2% 13.1%;
    --muted: 172.1 78.3% 93.1%;
    --muted-foreground: 172.1 78.3% 43.1%;
    --accent: 172.1 78.3% 93.1%;
    --accent-foreground: 173.3 92.2% 13.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 172.1 78.3% 97.1%;
    --border: 172.1 78.3% 89.1%;
    --input: 172.1 78.3% 89.1%;
    --ring: 173 80.4% 43.1%;
  }

  .dark.theme-cyan {
    --background: 173.3 92.2% 13.1%;
    --foreground: 172.1 78.3% 97.1%;
    --card: 173.3 92.2% 13.1%;
    --card-foreground: 172.1 78.3% 97.1%;
    --popover: 173.3 92.2% 13.1%;
    --popover-foreground: 172.1 78.3% 97.1%;
    --primary: 173 80.4% 43.1%;
    --primary-foreground: 172.1 78.3% 97.1%;
    --secondary: 173.3 92.2% 17.1%;
    --secondary-foreground: 172.1 78.3% 97.1%;
    --muted: 173.3 92.2% 17.1%;
    --muted-foreground: 172.1 78.3% 63.1%;
    --accent: 173.3 92.2% 17.1%;
    --accent-foreground: 172.1 78.3% 97.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 172.1 78.3% 97.1%;
    --border: 173.3 92.2% 17.1%;
    --input: 173.3 92.2% 17.1%;
    --ring: 173 80.4% 43.1%;
  }
  
  .theme-pink {
    --background: 322.1 94.3% 96.9%;
    --foreground: 323.3 91.3% 13.5%;
    --card: 322.1 94.3% 96.9%;
    --card-foreground: 323.3 91.3% 13.5%;
    --popover: 322.1 94.3% 96.9%;
    --popover-foreground: 323.3 91.3% 13.5%;
    --primary: 323.3 89.3% 53.5%;
    --primary-foreground: 322.1 94.3% 96.9%;
    --secondary: 322.1 94.3% 92.9%;
    --secondary-foreground: 323.3 91.3% 13.5%;
    --muted: 322.1 94.3% 92.9%;
    --muted-foreground: 322.1 94.3% 42.9%;
    --accent: 322.1 94.3% 92.9%;
    --accent-foreground: 323.3 91.3% 13.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 322.1 94.3% 96.9%;
    --border: 322.1 94.3% 88.9%;
    --input: 322.1 94.3% 88.9%;
    --ring: 323.3 89.3% 53.5%;
  }

  .dark.theme-pink {
    --background: 323.3 91.3% 13.5%;
    --foreground: 322.1 94.3% 96.9%;
    --card: 323.3 91.3% 13.5%;
    --card-foreground: 322.1 94.3% 96.9%;
    --popover: 323.3 91.3% 13.5%;
    --popover-foreground: 322.1 94.3% 96.9%;
    --primary: 323.3 89.3% 53.5%;
    --primary-foreground: 322.1 94.3% 96.9%;
    --secondary: 323.3 91.3% 17.5%;
    --secondary-foreground: 322.1 94.3% 96.9%;
    --muted: 323.3 91.3% 17.5%;
    --muted-foreground: 322.1 94.3% 62.9%;
    --accent: 323.3 91.3% 17.5%;
    --accent-foreground: 322.1 94.3% 96.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 322.1 94.3% 96.9%;
    --border: 323.3 91.3% 17.5%;
    --input: 323.3 91.3% 17.5%;
    --ring: 323.3 89.3% 53.5%;
  }

  .theme-slate {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  .dark.theme-slate {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
